body {
  background-image: url("../images/untitleddesign.jpg");
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 100px 150px 100px 80px;

}

#first {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
  text-shadow: 3px 3px 10px white;
  width: 600px;
  margin: auto;
}
#footer {
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: 'Combo', cursive;
}
nav {
  color: white;
  border: double black;
  margin: 2.6em;
}
.subheading {
  font-family: 'Lobster Two', cursive;
  text-decoration: underline;
  color: gray;
  font-size: 30px;
  text-align: center;
}
footer {
  text-align: center;
  padding: 1.1em;
  color: gray;
  font-family: 'Lobster Two', cursive;
}
a {
  color: white;
}
a:link {
  text-decoration:none;
}
a:hover {
  cursor: crosshair;
  text-shadow: 0 0 4px #ffffff;
  text-decoration: line-through black;
  text-transform: uppercase;
  font-family: 'Combo', cursive;
}
